{% extends "layout.html" %}
{% set activePage = "addRating" %}
{% block title %}New Rating for {{restaurant.name}}{% endblock %}
{% block body %}
<h1>Add rating for {{restaurant.name}}</h1>
<div class="ui three ordered top attached steps">
  <div class="active step" data-step="1">
    <div class="content">
      <div class="title">Service</div>
      <div class="description">Rate the service of the restaurant</div>
    </div>
  </div>
  <div class="step" data-step="2">
    <div class="content">
      <div class="title">Burger</div>
      <div class="description">Rate the burger</div>
    </div>
  </div>
  <div class="step" data-step="3">
    <div class="content">
      <div class="title">Sides</div>
      <div class="description">Rate the sides</div>
    </div>
  </div>
</div>
<form class="ui sixteen wide column form" method="POST" action="{{ url_for('addRating', restaurantId=restaurant.id)}}">
{{ form.csrf_token }}
<input type="hidden" name="restaurantId" id="restaurantId" value="{{restaurant.id}}">
  <div class="wizzardpage active" data-step="1" id="one">
    <div class="ui very padded innerpage segment">
      <div class="field">
        <label>{{ form.offerRating.label }}</label>
        {{ form.offerRating }}
        <div class="ui message">
          <p>How extensive was the menu?<br>
            Example criteria:
            <ul>
              <li>Varieties of meat e.g. Chicken, Beef</li>
              <li>Do they offer different buns?</li>
              <li>Can you order different levels of doneness?</li>
              <li>Do they offer something special like homemade ice tea or lemonade?</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <button class="ui right floated next teal button">Next</button>
  </div>

  <div class="wizzardpage hidden" data-step="1" id="two">
  <div class="ui very padded innerpage segment">
    <div class="field">
      <label>{{ form.waiterRating.label }}</label>
      {{ form.waiterRating }}
      <div class="ui message">
        <p>How well did they serve you?<br>
        Example criteria:
          <ul>
            <li>Friendlyness</li>
            <li>Speed</li>
          </ul>
        </p>
      </div>
    </div>
    </div>
    <button class="ui right floated next teal button">Next</button>
    <button class="ui right floated previous button">Back</button>
  </div>
  
  <div class="wizzardpage hidden" data-step="1" id="three">
  <div class="ui very padded innerpage segment">
    <div class="field">
      <label>{{ form.athmosphereRating.label }}</label>
      {{ form.athmosphereRating }}
      <div class="ui message">
        <p>Rate the atmosphere of the restaurant.<br>
        Example criteria:
          <ul>
            <li>Loudness of music</li>
            <li>Theming</li>
            <li>Lighting</li>
          </ul>
        </p>
      </div>
    </div>
    </div>
    <button class="ui right floated next teal button">Next</button>
    <button class="ui right floated previous button">Back</button>
  </div>

  <div class="wizzardpage hidden" data-step="2" id="four">
  <div class="ui very padded innerpage segment">
    <div class="field">
      <label>{{ form.burgerName.label }}</label>
      {{ form.burgerName(size=20) }}
      <div class="ui hint yellow message transition hidden">
        <p></p>
      </div>
    </div>
    </div>
    <button class="ui right floated next teal button">Next</button>
    <button class="ui right floated previous button">Back</button>
  </div>

  <div class="wizzardpage hidden" data-step="2" id="five">
  <div class="ui very padded innerpage segment">
    <div class="field">
      <label>{{ form.meatRating.label }}</label>
      {{ form.meatRating }}
      <div class="ui message">
        <p>How good was the meat?
        </p>
      </div>
    </div>
    </div>
    <button class="ui right floated next teal button">Next</button>
    <button class="ui right floated previous button">Back</button>
  </div>
  
  <div class="wizzardpage hidden" data-step="2" id="six">
  <div class="ui very padded innerpage segment">
    <div class="field">
      <label>{{ form.sauceRating.label }}</label>
      {{ form.sauceRating }}
      <div class="ui message">
        <p>How good was the sauce on its own?<br>
        </p>
      </div>
    </div>
    </div>
    <button class="ui right floated next teal button">Next</button>
    <button class="ui right floated previous button">Back</button>
  </div>
  
  <div class="wizzardpage hidden" data-step="2" id="seven">
  <div class="ui very padded innerpage segment">
    <div class="field">
      <label>{{ form.burgerQualityRating.label }}</label>
      {{ form.burgerQualityRating }}
      <div class="ui message">
        <p>How good was the burger?<br>
          Example criteria:
          <ul>
            <li>Did the sauce complimented the taste?</li>
            <li>Was the burger hot enough?</li>
            <li>Was each taste distinguishable?</li>
          </ul>
        </p>
      </div>
    </div>
    </div>
    <button class="ui right floated next teal button">Next</button>
    <button class="ui right floated previous button">Back</button>
  </div>

  <div class="wizzardpage hidden" data-step="3" id="eight">
  <div class="ui very padded innerpage segment">
    <div class="field">
      <label>{{ form.sideName.label }}</label>
      {{ form.sideName(size=20) }}
    </div>
    </div>
    <button class="ui right floated next teal button">Next</button>
    <button class="ui right floated previous button">Back</button>
  </div>

  <div class="wizzardpage hidden" data-step="3" id="nine">
  <div class="ui very padded innerpage segment">
    <div class="field">
      <label>{{ form.sidesQualityRating.label }}</label>
      {{ form.sidesQualityRating }}
      <div class="ui message">
        <p>How good was the side dish?<br>
          Example criteria:
          <ul>
            <li>Were the fries crispy?</li>
            <li>Did the sauce fit the side dish?</li>
          </ul>
        </p>
      </div>
    </div>
    </div>
    <button class="ui right floated next teal button">Next</button>
    <button class="ui right floated previous button">Back</button>
  </div>
  
  <div class="wizzardpage hidden" data-step="3" id="ten">
  <div class="ui very padded innerpage segment">
    <div class="field">
      <label>{{ form.sidesQuantityRating.label }}</label>
      {{ form.sidesQuantityRating }}
      <div class="ui message">
      Example criteria:
        <p>Was the side dish enough?
        </p>
      </div>
    </div>
    </div>
    <button class="ui right floated teal next teal button">Next</button>
    <button class="ui right floated previous button">Back</button>
  </div>

  <div class="wizzardpage hidden" data-step="4" id="final">
    <div class="ui very padded center aligned innerpage segment">
      <div class="ui middle aligned centered grid">
        <button class="ui massive green final button" type="submit">Add Rating</button>
      </div>
    </div>
    <button class="ui right floated previous button">Back</button>
  </div>
</form>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/addRating.js')}}"></script>
{% endblock %}
