{% extends "layout.html" %}
{% set activePage = "list" %}
{% block title %}{{restaurant.name}}{% endblock %}
{% block body %}
<h2>{{restaurant.name}}</h2>
<div class="ui cards">
{% for burger in burgers %}
<div class="ui card">
    <div class="image">
      <img>
    </div>
    <div class="content">
      <a class="header">{{ burger }}</a>
      <div class="meta">
        <span class="date"></span>
      </div>
      <div class="description">
        Burger lecker lecker
      </div>
    </div>
    <div class="extra content">
    Meat Rating:
        <div class="ui indicating progress ratingBar" data-total="10" data-value="{{ burgers[burger]['meatRating'] | round(1) }}">
          <div class="bar">
            <div class="progress">{{ burgers[burger]['meatRating'] | round(1) }}</div>
          </div>
        </div>
    Sauce Rating:
        <div class="ui indicating progress ratingBar" data-total="10" data-value="{{ burgers[burger]['sauceRating'] | round(1) }}">
          <div class="bar">
            <div class="progress">{{ burgers[burger]['sauceRating'] | round(1) }}</div>
          </div>
        </div>
    Overall Quality Rating:
        <div class="ui indicating progress ratingBar" data-total="10" data-value="{{ burgers[burger]['burgerQualityRating'] | round(1) }}">
          <div class="bar">
            <div class="progress">{{ burgers[burger]['burgerQualityRating'] | round(1) }}</div>
          </div>
        </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}