.ui.progress{
	margin: 0 0 2.5em;
}

.wizzardpage{
	margin-top:50px;
	padding-bottom: 50px;
}
.wizzardpage.hidden{
	display: none;
}

.innerpage{
	min-height: 400px;
}

.final.button{
	margin-top: 10%;
}