.ui.progress{
	margin: 0 0 2.5em;
}

.wizzardpage{
	margin-top:50px;
	padding-bottom: 50px;
}
.wizzardpage.hidden{
	display: none;
}

.innerpage{
	min-height: 400px;
}

.final.button{
	margin-top: 10%;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  .steps { display: none !important; }  /* hide it on small screens */
}

@media screen and (min-width: 701px) {
  .steps { display: block; }   /* show it elsewhere */
}